<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
            <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="home.css">
        <title>Tugas Project MID membuat MODUL Guru</title>
    </head>
    <body style="background-color:rgb(53, 245, 35)">
        <nav class="navbar navbar-expand-md bg-primary navbar-dark">
            <div class="collapse navbar-collapse justify-content-center" id="collpasibleNavbar">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="home.html">DAFTAR SEKOLAH |</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Latihan.html">LATIHAN |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Absensi.html">ABSENSI </a>
                </li>
              </ul>    
            </div>
        </nav>
        <div id="app">
            <div class="container">
                <div class="py-5 text-center">
                  <h2>Daftar Materi Guru </h2>
                </div>
                <div class="col-md-12">
                    <h4 class="mb-3"><button class="btn btn-md btn-primary" v-on:click="resetForm()">Pelajaran Baru</button>
                    </h4>
                <table class="table table-striped">
                    <tr>
                        <th>No.</th>
                        <th>Guru Pengajar</th>
                        <th>Mata Pelajaran</th>
                        <th>KELAS</th>
                        <th>Jumblah Siswa</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr v-for="materi in materi">
                        <td>{{ materi.id }}</td>
                        <td>{{ materi.namaGuru }}</td>
                        <td>{{ materi.mengajar }}</td>
                        <td>{{ materi.kelas }}</td>
                        <td>{{ materi.jumlahMurid }}</td>
                        <td><button class="btn btn-md btn-warning" v-on:click="getEdit(materi)">Edit</button></td>
                        <td><button class="btn btn-danger" v-on:click="getDelete(materi)">Delete</button></td>
                    </li>
                </table>
                <div v-if="message" class="alert alert-success" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                
            
                <h4 class="mb-3">Edit/Delete</h4>
                <form class="needs-validation" novalidate>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="namaGuru">Guru</label>
                      <input  v-model="namaGuru" type="text" class="form-control" id="namaGuru" placeholder="" value="" required>
                      <div class="invalid-feedback">
                        Isi Nama Guru Pembelajaran.
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="mengajar">Mata Pelajaran</label>
                      <input v-model="mengajar" type="text" class="form-control" id="mengajar" placeholder="" value="" required>
                      <div class="invalid-feedback">
                        Isi Mata Pelajaran
                      </div>
                    </div>
                  </div>
      
                  <div class="mb-3">
                    <label for="kelas">KELAS</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Kelas</span>
                      </div>
                      <input v-model="kelas" type="text" class="form-control" id="kelas" required>
                      <div class="invalid-feedback" style="width: 100%;">
                        Masukkan Nama Kelas
                      </div>
                    </div>
                  </div>
      
                  <div class="mb-3">
                    <label for="text">Total Siswa <span class="text-muted">(Optional)</span></label>
                    <input v-model="jumlahMurid" class="form-control" id="jumlahMurid">
                    <div class="invalid-feedback">
                      Tolong Masukkan Total Siswa dengan benar
                    </div>
                  </div>
      
                  </div>
                
                  <hr class="mb-4">
                  <button v-if="!editMode && !deleteMode" v-on:click="createmateri" class="btn btn-primary btn-lg btn-block" type="submit">Submit Data</button>
                  <button v-if="editMode" v-on:click="updatemateri" class="btn btn-warning btn-lg btn-block" type="submit">Update Data</button>
                  <button v-if="deleteMode" v-on:click="deletemateri" class="btn btn-danger btn-lg btn-block" type="submit">Delete Data</button>
                  
                </form>
             </div>
        </div>    
    
        <!-- Axios -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
        <script>
            var app = new Vue ({
                el: '#app',
                data: {
                    errors: [],
                    message:null,
                    materi:[],
                    materiIdEdit: null,
                    materiIdDelete: null,
                    editMode: false,
                    deleteMode: false,
                    namaGuru: '',
                    mengajar: '',
                    kelas: '',
                    jumlahMurid: '',
                },
                mounted: function() {
                    this.getmateri();
                },
                methods: {
                    getmateri() {
                        axios.get('https://60375775543504001772218a.mockapi.io/materi')
                            .then(response => {
                                this.materi = response.data;
                                console.log(response);
                            })
                            .catch(error => {
                                console.log(error);
                            });
                    },
                    // Create Jalan
                    createmateri: function(){
                        axios.post('https://60375775543504001772218a.mockapi.io/materi', {
                            namaGuru: this.namaGuru,
                            mengajar: this.mengajar,
                            kelas: this.kelas,
                            jumlahMurid: this.jumlahMurid,
                        })
                        .then(response => {
                                this.getmateri();
                                this.message = "Your data has been submitted";
                                console.log(response);
                        })
                        .catch(error => {
                                console.log(error);
                        });
                    },
                    // reset Form jalan
                    resetForm: function () {
                        this.message = null;
                        this.editMode = false;
                        this.deleteMode = false;
                        this.materiIdEdit = null;
                        this.namaGuru = null;
                        this.mengajar = null;
                        this.kelas = null;
                        this.jumlahMurid = null;
                    },
                    
                    getEdit: function (materi) {
                        this.message = null;
                        this.editMode = true;
                        this.deleteMode = false;
                        this.materiIdEdit = materi.id;
                        this.namaGuru = materi.namaGuru;
                        this.mengajar = materi.mengajar;
                        this.kelas = materi.kelas;
                        this.jumlahMurid = materi.jumlahMurid;
                    },
                    getDelete: function (materi) {
                        this.message = null;
                        this.deleteMode = true;
                        this.editMode = false;
                        this.materiIdDelete = materi.id;
                        this.namaGuru = materi.namaGuru;
                        this.mengajar = materi.mengajar;
                        this.materiName = materi.kelas;
                        this.jumlahMurid = materi.jumlahMurid;
                    },
                    updatemateri: function () {
                        axios.put(`https://60375775543504001772218a.mockapi.io/materi/${this.materiIdEdit}`, {
                                namaGuru: this.namaGuru,
                                mengajar: this.mengajar,
                                kelas: this.kelas,
                                jumlahMurid: this.jumlahMurid,
                            })
                            .then(res => {
                                // handle success
                                this.message = "Your data has been updated";
                                this.getmateri();
                            })
                            .catch(err => {
                                // handle error
                                console.log(err);
                            })
                    },
                    // Delete materi
                    deletemateri: function () {
                        axios.delete(`https://60375775543504001772218a.mockapi.io/materi/${this.materiIdDelete}`)
                            .then(res => {
                                // handle success
                                this.message = "Your data has been deleted";
                                this.getmateri();
                            })
                            .catch(err => {
                                // handle error
                                console.log(err);
                            })
                    }
                }
            })
            
        </script>
    
    </body>
    </html>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>